body {
    background-image: url(./large.jpg) !important;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}