.card {
    background-color: rgba(255,255,255, 0.9);
}

.card-text {
    color: black;
}

.card-link {
    background-color: transparent;
    border: 2px solid #007bff;
    border-radius: 5px;
    color: black;
    padding: 4px 18px;
    margin-left: 0px !important;
    margin-bottom: 6px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a:hover {
    background-color: #007bff;
    color: black;
}

.bold {
    font-weight: 700 !important;
}

.card-body {
    font-family: 'Poppins', sans-serif !important;
}

